In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import numpy as np

data = pd.read_csv("hour.csv")#, sep = ";")
pro_data = data.dropna()

pro_data = pro_data.drop(['instant', 'casual', 'registered', 'dteday'], axis = 1)
pro_data = pro_data.rename(columns = {"cnt": "total_rental"})
pro_data.shape

(17379, 13)

In [2]:
pro_data

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,total_rental
0,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,16
1,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,40
2,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,32
3,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,13
4,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,119
17375,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,89
17376,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,90
17377,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,61
17378,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,49

In [3]:
pro_data.to_csv("bike_sharing.csv", index = False)